body {
	background: black;
	color: white;
}
h1 {
	font-size: 20px;
}
p {
	color: green;
	font-size: 12px;
}
.dot {
	height: 100px;
	width: 100px;
	border-style: dotted;
	border-width: 2px;	
}
ol{
	list-style-type: lower-alpha;
}

ul {
	list-style-type: square;
}